$gray100: #fff;
$gray200: #e5e5e5;
$gray300: #ccccd0;
$gray400: #9a9ba0;
$gray500: #85868b;
$gray600: #6c6c6f;
$gray700: #4c4c50;
$gray800: #333335;
$gray900: #1c1c1e;
$gray1000: #000;
$gray1100: #837183;

$purple: #995aff;
$lightpurple: #b99aec;
$darkpurple: #440f88;
$pink: #fb74b5;
$lightpink: #fbc8e0;
$darkpink: #440f88;
$orange: #ffb13d;
$red: #ff4949;
$green: #28e172;
$vividgreen: #41c204;
$blue: #002c5f;
$sky: #00aad2;
$beige: #e4dcd3;
$gray: #f6f3f2;
$gray2: #4f4e4e;
